@import '@/../../common//variables';

.calendar-table__head {
  border: 2px solid map-get($map: $colors, $key: main-color);
  border-bottom: 0;
  background-color: map-get($map: $colors, $key: main-color);
  filter: brightness(98%);

  &__td {
    padding: 0.5rem 1.5rem;
    width: calc(100% / 7);
    color: #000000;
  }
}
